/* SKEW */

.skew-footer {
    margin-top: 100px;
    position: relative;
}

.skew-footer:before {
    content: "";
    position: absolute;
    top: -60px;
    height: 60px;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, transparent 49%, #1A202C 51%);
}


  .content {
    min-height: calc(100vh - 25vh);
  }
 
